.heading-1 {
    font-size: 8rem;
    font-family: $font-heading;
    text-transform: uppercase;
}

.heading-2 {
    line-height: 1.3;
    font-size: 3rem;
    font-weight: 300;
    font-family: $font-heading-sub;
}

.heading-3 {
    font-weight: 700;
    color: #000;
    font-family: $font-secondary;
    text-transform: uppercase;
    font-size: 3.8rem;
}