.heading-1 {
    font-size: 8rem;
    font-family: $font-heading;
    text-transform: uppercase;
}

.heading-2 {
    line-height: 1.3;
    font-size: 3rem;
    font-weight: 300;
    font-family: $font-heading-sub;
}