.btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    font-size: 2rem;

    &--small {
        font-size: 1.5rem;
    }

    &__icon {
        height: 3rem;
        width: 3rem;
        margin-left: 1rem;

        &--small {
            margin-left: .5rem;
            height: 2rem;
            width: 2rem;
        }
    }

    &--orange {
        color: $color-orange-1;
        fill: $color-orange-1;
    }

    &--transparent {
        margin-top: 4rem;
        position: relative;
        color: $color-white;
        transition: all .2s;

        &::before {
            content: '';
            width: 150%;
            height: 300%;
            position: absolute;
            top: -2.3rem;
            left: -6.5rem;
            border: 1px solid $color-white;
            padding: 1rem;
            transition: all .2s;
        }

        &::after {
            content: '';
            width: 150%;
            height: 300%;
            position: absolute;
            top: -3.3rem;
            left: -7.5rem;
            border: 1px solid $color-white;
            padding: 1rem;
            transition: all .2s;
        }

        &:hover:after,
        &:focus:after {
            top: -2.3rem;
            left: -6.5rem;
        }

        &:hover:before,
        &:focus:before {
            top: -3.3rem;
            left: -7.5rem;
        }
    }

    &--gradient {
        background-image: linear-gradient(to right, $color-red, $color-yellow-1);
        padding: 1.5rem 2.5rem;
        color: $color-white;
        text-transform: uppercase;
        font-family: $font-heading-sub;
    }

    &:focus {
        outline: none;
    }

    &:focus &__icon,
    &:hover &__icon {
        animation: btn-slide .6s ease-out infinite;
    }

    &:focus &__icon--small,
    &:hover &__icon--small {
        animation: btn-slide-small .6s ease-out infinite;
    }
}