.nav {

    &__list {
        list-style: none;
        display: flex;

        &>*:not(:last-child) {
            margin-right: 2rem;
        }

        @media only screen and (max-width: $bp-small) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: inherit;
        font-weight: inherit;
        border-bottom: 2px solid transparent;
        transition: all .2s;
        text-shadow: 0 0 .3rem #000;
    }

    &__link:hover {
        color: $color-orange-1;
        border-bottom: 2px solid $color-orange-1;
    }
}