.explore {
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
    justify-items: center;
    padding: 12rem 8rem 15rem 8rem;
    position: relative;
    grid-row-gap: 5rem;
    
    @media only screen and (max-width: $bp-small) {
        padding: 6rem 4rem 7.5rem 4rem;
        margin-top: 18rem;
    }

    .heading-3 {
        @media only screen and (max-width: $bp-small) {
            max-width: 80%;
        }
    }

    &__caption {
        display: grid;
        align-items: center;
        align-content: center;
        grid-row-gap: 3.5rem;

        @media only screen and (max-width: $bp-small) {
            width: 75%;
        }
        

        .heading-3 {
            span {
                color: $color-orange-1;
            }
        }

        .btn {
            justify-self: start;
        }
    }

    &__text {
        font-size: 1.6rem;

        @media only screen and (max-width: $bp-small) {
            max-width: 80%;
        }
    }

    &__container {
        position: relative;

        @media only screen and (max-width: $bp-small) {
            width: 75%;
        }
        

        &::before {
            content: '';
            width: 90%;
            height: 100%;
            border: 1px solid $color-grey-3;
            position: absolute;
            top: 0;
            left: 5rem;

            @media only screen and (max-width: $bp-small) {
                display: none;
            }
        }
    }

    &__img {
        max-width: 100%;
        justify-self: end;
        transform: translate(8rem, 3rem);

        @media only screen and (max-width: $bp-small) {
            max-width: 80%;
            justify-self: center;
            transform: translate(0, 0);
        }
    }
}