.header {
    font-weight: 600;
    font-family: $font-secondary;
    font-size: 1.5rem;
    color: $color-white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 130rem;
    min-width: 50rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    padding: 2rem 0;
    

    @media only screen and (max-width: $bp-largest) {
        padding: 2rem 4rem;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    &__logo {
        cursor: pointer;

        @media only screen and (max-width: $bp-medium) {
            justify-self: center;
        }
    }

    .nav {
        justify-self: end;

        @media only screen and (max-width: $bp-medium) {
            justify-self: center;
        }
    }
}
