.header {
    font-weight: 600;
    font-family: $font-secondary;
    font-size: 1.5rem;
    color: $color-white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 130rem;
    min-width: 50rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    padding: 2rem 0;

    @media only screen and (max-width: $bp-small) {
        // left: 60%;
    }


    &--sticky {
        background-color: $color-grey-1;
        padding: 1rem 30rem;
        max-width: 100%;
        position: fixed;
        z-index: 100;

        @media only screen and (max-width: $bp-medium) {
            padding: 0;
        }
    }


    @media only screen and (max-width: $bp-largest) {
        padding: 2rem 4rem;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    &__logo {
        cursor: pointer;
        margin-right: 3rem;
        display: flex;


        @media only screen and (max-width: $bp-medium) {
            justify-self: center;
        }
    }

    .nav {
        justify-self: end;

        @media only screen and (max-width: $bp-medium) {
            justify-self: center;
        }
    }
}