.speakers {
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: $grid-columns-center;
    padding: 8rem 0;
    background-image: url(../img/speakers-bg.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;

    &__container {
        grid-column: center-start / center-end;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 8rem;
    }

    &__img-container {
        position: relative;
        z-index: 5;
        transition: all .2s;

        &:hover img {
            filter: brightness(50%);
        }
        
        &:hover .speakers__icons {
            opacity: 1;
        }
    }

    &__icons {
        display: flex;
        justify-content: center;
        transform: translateY(-17.5rem);
        position: relative;
        opacity: 0;
        transition: opacity .2s;

        & :not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__icon-container {
        position: absolute;

        &:first-child {
            top: 0;
            left: 5.5rem;

            &:hover svg {
                fill: $color-twitter;
            }
        }

        &:nth-child(2) {
            top: 0;
            left: 10.5rem;

            &:hover svg {
                fill: $color-facebook;
            }
        }

        &:nth-child(3) {
            top: 0;
            left: 15.5rem;

            &:hover svg {
                fill: $color-google;
            }
        }

        &:last-child {
            top: 0;
            left: 20.5rem;

            &:hover svg {
                fill: $color-linkedin;
            }
        }

        &::before {
            content: '';
            width: 4rem;
            height: 4rem;
            background-image: linear-gradient(rgba($color-white, 0.7), rgba($color-white, 0.7));
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            z-index: 10;
        }
    }

    &__icon {
        display: block;
        height: 4rem;
        width: 4rem;
        padding: 1rem;
        position: relative;
        z-index: 10;
        fill: $color-grey-3;
        cursor: pointer;
    }

    &__img {
        width: 100%;
        cursor: pointer;
        transition: filter .2s;
    }

    &__persons {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-row-gap: 3rem;
        grid-column-gap: 3rem;
    }

    &__person {
        display: grid;
        justify-items: center;
        line-height: 1;
        grid-row-gap: .5rem;
    }

    &__name {
        font-size: 1.8rem;
    }

    &__type {
        font-size: 1.2rem;
        color: $color-grey;
        text-transform: uppercase;
    }
}