*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  color: #444;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.main {
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 16.25rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; }

.heading, .heading-1, .heading-2, .heading-3, .heading-4, .heading-5 {
  text-transform: uppercase; }

.heading-1 {
  font-size: 8rem;
  font-family: "Play", sans-serif; }

.heading-2 {
  line-height: 1.3;
  font-size: 8rem;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  text-align: center; }
  .heading-2--small {
    text-transform: capitalize;
    font-size: 6rem; }

.heading-3 {
  font-weight: 700;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 3.8rem; }

.heading-4 {
  font-weight: 700;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem; }

.heading-5 {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem; }

@keyframes btn-slide {
  0% {
    margin-left: 1rem; }
  20% {
    margin-left: 2rem; }
  100% {
    margin-left: 1rem; } }

@keyframes btn-slide-small {
  0% {
    margin-left: .5rem; }
  20% {
    margin-left: 1rem; }
  100% {
    margin-left: .5rem; } }

.nav__list {
  list-style: none;
  display: flex; }
  .nav__list > *:not(:last-child) {
    margin-right: 2rem; }
  @media only screen and (max-width: 39.375em) {
    .nav__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr); } }

.nav__link:link, .nav__link:visited {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  border-bottom: 2px solid transparent;
  transition: all .2s;
  text-shadow: 0 0 .3rem #000; }

.nav__link:hover {
  color: #ff512f;
  border-bottom: 2px solid #ff512f; }

.banner {
  color: #fff;
  font-family: "Muli", sans-serif;
  letter-spacing: 2px;
  position: relative;
  justify-self: end;
  align-self: center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5); }
  .banner__countdown::before {
    content: '';
    width: 100%;
    height: 1.5rem;
    background-color: #3f3f3f;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .banner__countdown, .banner__date {
    background-color: rgba(48, 48, 48, 0.8);
    font-weight: 700;
    text-transform: uppercase; }
  .banner__date {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    font-weight: 700;
    font-size: 1.6rem;
    align-items: center; }
  .banner__countdown {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    justify-items: center;
    padding: 9rem 6rem 6rem 6rem; }
  .banner__timing {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1; }
  .banner__number {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: .5rem; }
  .banner__unit {
    font-size: 1.5rem; }
  .banner__icon {
    fill: #fff;
    margin-right: .5rem;
    height: 2.5rem;
    width: 2.5rem; }
  .banner__icon--big {
    padding: .5rem;
    height: 6rem;
    width: 6rem;
    background-color: #444;
    border-radius: 50%;
    margin-right: 2rem; }
  .banner__icon--dark {
    fill: #444; }
  .banner__stats {
    padding: 4rem;
    background-color: #303030;
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    justify-items: start;
    grid-column-gap: 4rem;
    letter-spacing: 1px; }
  .banner__divider {
    background-color: rgba(105, 105, 105, 0.4);
    height: 100%;
    width: 1px; }
  .banner__stat {
    display: flex;
    align-items: center; }
    .banner__stat:first-child {
      justify-self: end; }
    .banner__stat span:first-child {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2rem; }
    .banner__stat span:last-child {
      font-size: 1.2rem; }
  .banner__caption {
    display: flex;
    flex-direction: column; }
  .banner__sponsored {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, #d62434, #de7838); }
  .banner__sponsor {
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 4rem; }
  .banner__location {
    color: #444;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem; }

.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  font-size: 2rem; }
  .btn--small {
    font-size: 1.5rem; }
  .btn__icon {
    height: 3rem;
    width: 3rem;
    margin-left: 1rem; }
    .btn__icon--small {
      margin-left: .5rem;
      height: 2rem;
      width: 2rem; }
  .btn--orange {
    color: #ff512f;
    fill: #ff512f; }
  .btn--transparent {
    margin-top: 4rem;
    position: relative;
    color: #fff;
    transition: all .2s; }
    .btn--transparent::before {
      content: '';
      width: 150%;
      height: 300%;
      position: absolute;
      top: -2.3rem;
      left: -6.5rem;
      border: 1px solid #fff;
      padding: 1rem;
      transition: all .2s; }
    .btn--transparent::after {
      content: '';
      width: 150%;
      height: 300%;
      position: absolute;
      top: -3.3rem;
      left: -7.5rem;
      border: 1px solid #fff;
      padding: 1rem;
      transition: all .2s; }
    .btn--transparent:hover:after, .btn--transparent:focus:after {
      top: -2.3rem;
      left: -6.5rem; }
    .btn--transparent:hover:before, .btn--transparent:focus:before {
      top: -3.3rem;
      left: -7.5rem; }
  .btn--gradient {
    background-image: linear-gradient(to right, #d62434, #ff7e05);
    padding: 1.5rem 2.5rem;
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif; }
  .btn:focus {
    outline: none; }
  .btn:focus .btn__icon,
  .btn:hover .btn__icon {
    animation: btn-slide .6s ease-out infinite; }
  .btn:focus .btn__icon--small,
  .btn:hover .btn__icon--small {
    animation: btn-slide-small .6s ease-out infinite; }

.footer {
  grid-column: full-start / full-end;
  background-color: #313131;
  padding: 8rem;
  display: grid;
  grid-row-gap: 2rem;
  justify-content: center;
  justify-items: center; }
  .footer__icon {
    height: 3rem;
    width: 3rem;
    fill: #4a4a4a; }
  .footer__socials {
    display: flex; }
    .footer__socials > *:not(:last-child) {
      margin-right: 2rem; }
  .footer__icon-container > * {
    transition: fill .2s;
    cursor: pointer; }
  .footer__icon-container:first-child:hover svg {
    fill: #1da1f2; }
  .footer__icon-container:nth-child(2):hover svg {
    fill: #1877f2; }
  .footer__icon-container:nth-child(3):hover svg {
    fill: #db4437; }
  .footer__icon-container:nth-child(4):hover svg {
    fill: #007bb5; }
  .footer__icon-container:nth-child(5):hover svg {
    fill: #6441a4; }
  .footer__icon-container:nth-child(6):hover svg {
    fill: #00aff0; }
  .footer__subscribe {
    display: flex; }
  .footer__input {
    background-color: #4a4a4a;
    border: none;
    width: 30rem;
    padding: 1rem;
    color: #969595;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif; }
  .footer__text {
    font-size: 1.5rem;
    color: #f3f3f3; }

.header {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 130rem;
  min-width: 50rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding: 2rem 0; }
  @media only screen and (max-width: 86.25em) {
    .header {
      padding: 2rem 4rem; } }
  @media only screen and (max-width: 50em) {
    .header {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr); } }
  .header__logo {
    cursor: pointer; }
    @media only screen and (max-width: 50em) {
      .header__logo {
        justify-self: center; } }
  .header .nav {
    justify-self: end; }
    @media only screen and (max-width: 50em) {
      .header .nav {
        justify-self: center; } }

.hero {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 16.25rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  background-image: linear-gradient(120deg, rgba(255, 126, 5, 0.6) 15%, rgba(214, 36, 52, 0.4) 40%, rgba(0, 0, 0, 0) 75%), url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh; }
  @media only screen and (max-width: 68.75em) {
    .hero {
      height: 150vh;
      text-align: center;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 4fr;
      justify-items: center; } }
  .hero__title {
    grid-column: center-start / col-end 4;
    align-self: center;
    color: #fff;
    display: grid;
    grid-row-gap: 1.5rem; }
    .hero__title .heading-1 {
      line-height: .9; }
      .hero__title .heading-1 span {
        display: block;
        font-size: 12rem; }
    @media only screen and (max-width: 68.75em) {
      .hero__title {
        margin-top: 10rem;
        grid-column: 1 / -1; } }
    @media only screen and (max-width: 50em) {
      .hero__title {
        margin-top: 18rem; } }
  .hero__sub-heading {
    line-height: 1.3;
    font-size: 3rem;
    font-weight: 300;
    font-family: "Open Sans", sans-serif; }
  .hero__text {
    font-size: 1.5rem; }
  .hero .banner {
    margin-top: 10rem;
    grid-column: col-start 5 / center-end;
    align-self: start; }
    @media only screen and (max-width: 68.75em) {
      .hero .banner {
        margin-top: 3rem;
        grid-column: 1 / -1;
        justify-self: center; } }
    @media only screen and (max-width: 39.375em) {
      .hero .banner {
        max-width: 80%; } }
    @media only screen and (max-width: 39.375em) {
      .hero .banner img {
        max-width: 80%; } }

.explore {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
  justify-items: center;
  padding: 12rem 8rem 15rem 8rem;
  position: relative;
  grid-row-gap: 5rem; }
  @media only screen and (max-width: 39.375em) {
    .explore {
      padding: 6rem 4rem 7.5rem 4rem; } }
  @media only screen and (max-width: 39.375em) {
    .explore .heading-3 {
      max-width: 80%; } }
  .explore__caption {
    display: grid;
    align-items: center;
    align-content: center;
    grid-row-gap: 3.5rem; }
    .explore__caption .heading-3 span {
      color: #ff512f; }
    .explore__caption .btn {
      justify-self: start; }
  .explore__text {
    font-size: 1.6rem; }
    @media only screen and (max-width: 39.375em) {
      .explore__text {
        max-width: 80%; } }
  .explore__container {
    position: relative; }
    .explore__container::before {
      content: '';
      width: 90%;
      height: 100%;
      border: 1px solid #505050;
      position: absolute;
      top: 0;
      left: 5rem; }
      @media only screen and (max-width: 39.375em) {
        .explore__container::before {
          display: none; } }
  .explore__img {
    max-width: 100%;
    justify-self: end;
    transform: translate(8rem, 3rem); }
    @media only screen and (max-width: 39.375em) {
      .explore__img {
        max-width: 80%;
        justify-self: center;
        transform: translate(0, 0); } }

.about {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 16.25rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  background-color: #f3f3f3;
  padding: 10rem 0; }
  @media only screen and (max-width: 39.375em) {
    .about {
      padding: 5rem 0; } }
  .about__heading {
    display: grid;
    justify-items: center;
    grid-row-gap: 2rem; }
    .about__heading p {
      font-size: 1.5rem;
      width: 60%;
      text-align: center;
      margin-bottom: 3rem;
      color: #696969; }
  .about__container {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5rem; }
  .about__text {
    font-size: 1.5rem;
    color: #696969; }
  .about__img {
    width: 100%; }
  .about__questions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-column-gap: 8rem;
    grid-row-gap: 3rem; }
  .about__question {
    display: grid;
    grid-row-gap: 2rem; }
    .about__question button {
      justify-self: start; }

.speakers {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 16.25rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  padding: 8rem 0;
  background-image: url(../img/speakers-bg.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative; }
  @media only screen and (max-width: 39.375em) {
    .speakers {
      padding: 4rem 0; } }
  .speakers__container {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 8rem; }
  .speakers__img-container {
    position: relative;
    z-index: 5;
    transition: all .2s; }
    .speakers__img-container:hover img {
      filter: brightness(50%); }
    .speakers__img-container:hover .speakers__icons {
      opacity: 1; }
  .speakers__icons {
    display: flex;
    justify-content: center;
    transform: translateY(-17.5rem);
    position: relative;
    opacity: 0;
    transition: opacity .2s; }
    .speakers__icons :not(:last-child) {
      margin-right: 1rem; }
  .speakers__icon-container {
    position: absolute; }
    .speakers__icon-container > * {
      transition: fill .2s; }
    .speakers__icon-container:first-child {
      top: 0;
      left: 5.5rem; }
      .speakers__icon-container:first-child:hover svg {
        fill: #1da1f2; }
    .speakers__icon-container:nth-child(2) {
      top: 0;
      left: 10.5rem; }
      .speakers__icon-container:nth-child(2):hover svg {
        fill: #1877f2; }
    .speakers__icon-container:nth-child(3) {
      top: 0;
      left: 15.5rem; }
      .speakers__icon-container:nth-child(3):hover svg {
        fill: #db4437; }
    .speakers__icon-container:last-child {
      top: 0;
      left: 20.5rem; }
      .speakers__icon-container:last-child:hover svg {
        fill: #007bb5; }
    .speakers__icon-container::before {
      content: '';
      width: 4rem;
      height: 4rem;
      background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      z-index: 10; }
  .speakers__icon {
    display: block;
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    position: relative;
    z-index: 10;
    fill: #505050;
    cursor: pointer; }
  .speakers__img {
    width: 100%;
    transition: filter .2s; }
  .speakers__persons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-row-gap: 3rem;
    grid-column-gap: 3rem; }
  .speakers__person {
    display: grid;
    justify-items: center;
    line-height: 1;
    grid-row-gap: .5rem; }
  .speakers__name {
    font-size: 1.8rem; }
  .speakers__type {
    font-size: 1.2rem;
    color: #696969;
    text-transform: uppercase; }

.overview {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to right, rgba(214, 36, 52, 0.9), rgba(222, 120, 56, 0.9)), url(../img/overview-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  display: grid;
  grid-row-gap: 3rem;
  justify-items: center;
  padding: 10rem 0 13rem 0; }
  @media only screen and (max-width: 39.375em) {
    .overview {
      padding: 5rem 0 6.5rem 0; } }
  .overview__text {
    font-size: 1.6rem;
    width: 60%;
    text-align: center; }

.sponsors {
  grid-column: center-start / center-end;
  text-align: center;
  padding: 8rem 0; }
  @media only screen and (max-width: 39.375em) {
    .sponsors {
      padding: 4rem 0; } }
  .sponsors .heading-2 {
    margin-bottom: 8rem; }
  .sponsors__images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    align-items: center;
    grid-row-gap: 10rem;
    justify-items: center; }

.cta {
  grid-column: full-start / full-end;
  display: grid;
  grid-row-gap: 3rem;
  justify-items: center;
  background-image: linear-gradient(rgba(8, 17, 26, 0.9), rgba(8, 17, 26, 0.9)), url(../img/cta-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  background-attachment: fixed;
  padding: 8rem 0 13rem 0; }
  @media only screen and (max-width: 39.375em) {
    .cta {
      padding: 4rem 0 6.5rem 0; } }
  .cta__text {
    font-size: 2.5rem;
    width: 60%;
    text-align: center; }

.agenda {
  grid-column: center-start / center-end;
  display: grid;
  padding: 8rem 0 11rem 0;
  grid-row-gap: 5rem; }
  @media only screen and (max-width: 39.375em) {
    .agenda {
      padding: 4rem 0 5.5rem 0; } }
  .agenda .heading-2 {
    text-align: center; }
  .agenda__selection {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    grid-column-gap: 2rem;
    z-index: 2;
    align-content: center; }
    .agenda__selection::before {
      content: '';
      position: absolute;
      width: 140%;
      height: .1rem;
      top: 2.3rem;
      left: -20%;
      z-index: 1;
      background-image: linear-gradient(to right, transparent 0%, #d62434 20%, #d62434 80%, transparent 100%); }
      @media only screen and (max-width: 39.375em) {
        .agenda__selection::before {
          width: 100%;
          left: 0; } }
  .agenda__select {
    position: relative;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    box-shadow: 0 1px 1px #d62434;
    border-radius: 50px;
    cursor: pointer;
    transition: box-shadow .2s;
    z-index: 3;
    background-color: #fff; }
    .agenda__select:hover {
      box-shadow: 0 0.2rem 0.2rem 0 #d62434; }
    .agenda__select--selected {
      background-image: linear-gradient(to right, #d62434, #ff7e05);
      color: #fff;
      box-shadow: none; }
      .agenda__select--selected:hover {
        box-shadow: none; }
  .agenda__schedule {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-row-gap: 2rem;
    position: relative; }
    .agenda__schedule::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      left: 20%;
      background-image: linear-gradient(to bottom, transparent 0%, #d62434 30%, #d62434 70%, transparent 100%); }
  .agenda__time {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-right: 2rem; }
  .agenda__time-exact {
    font-size: 3rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5; }
  .agenda__time-range {
    display: flex;
    align-items: center;
    color: #ff512f;
    font-size: 1.5rem; }
  .agenda__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: #ff512f;
    margin-right: .5rem; }
  .agenda__event {
    padding: 3rem 2rem;
    box-shadow: 0.1rem 0.1rem 0.4rem rgba(105, 105, 105, 0.2);
    display: grid;
    grid-row-gap: 2rem;
    position: relative; }
    .agenda__event .heading-5 {
      margin-left: 3.5rem; }
    .agenda__event::before {
      content: '';
      position: absolute;
      height: 3rem;
      width: 3rem;
      background-color: #ff512f;
      top: 5.5rem;
      left: -1.5rem;
      border-radius: 50%; }
    .agenda__event--upcoming::before {
      content: '';
      position: absolute;
      height: 3rem;
      width: 3rem;
      border: 1px solid #ff512f;
      background-color: transparent;
      top: 5.5rem;
      left: -1.5rem;
      border-radius: 50%; }
    .agenda__event--upcoming::after {
      content: '';
      position: absolute;
      height: 2rem;
      width: 2rem;
      background-color: #ff512f;
      top: 6rem;
      left: -1rem;
      border-radius: 50%; }
    .agenda__event--main::after {
      content: 'Room no - 04';
      color: #fff;
      font-size: 1.5rem;
      display: grid;
      align-content: center;
      justify-content: center;
      text-transform: uppercase;
      background-image: linear-gradient(to right, #d62434, #ff7e05);
      position: absolute;
      height: 2.5rem;
      width: 15rem;
      top: 0;
      left: 0; }
  .agenda__name {
    color: #ff512f;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    margin-left: 3.5rem; }
  .agenda__text {
    font-size: 1.5rem;
    margin: 0 3.5rem; }

.posts {
  padding: 8rem 0;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 16.25rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  background-color: #f3f3f3; }
  @media only screen and (max-width: 39.375em) {
    .posts {
      padding: 4rem 0; } }
  .posts .heading-2 {
    text-align: center; }
  .posts__container {
    grid-column: center-start / center-end;
    display: grid;
    grid-row-gap: 8rem; }
  .posts__posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-column-gap: 3rem; }
  .posts__post {
    display: grid;
    grid-row-gap: 1.5rem; }
  .posts__img {
    width: 100%; }
  .posts__text {
    font-size: 1.5rem; }
  .posts__sub-info {
    text-transform: uppercase;
    display: flex; }
    .posts__sub-info :not(:first-child) {
      margin-left: 2rem;
      cursor: pointer; }
